.learningButton {
    background-color: var(--primary-yellow);
    position: relative;
    width: 16rem;
    height: 3.188rem;
    font-size: 1.125rem;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 2;
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.learningButtonBackround {
    background-color: var(--secondary-yellow);
    position: absolute;
    width: 16rem;
    height: 3rem;
    font-size: 1.125rem;
    margin-left: -1.45rem;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    bottom: 29px;
    left: 102px;
}

.learningButton:hover {
    left: 4px;
    bottom: -7px;
}
