
.main__container {
    height: 100vh;
    width: 100vw;
    background-image: url("/carousel/learn-background.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0rem;
    z-index: -9999;
}

.container {
    display: flex;
    flex-direction: row;
}

.left {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-left: -5rem;
}

.h1 {
    font-size: 2rem;
    margin-right: 15rem;
    margin-left: -5rem;
}

.whats{
    position: absolute;
    top: 11%;
    left: 21%;
    z-index: 1;
    width: 190px;
    height: 190px;
}

.whats:active {
    width: 195px;
    height: 195px;
    left: 20.95%;
    transition: 0.1s ease-in-out;
}

.whats::not(:active) {
    transition: 0.1s ease-in-out;
}

.why{
    position: absolute;
    bottom: 68%;
    right: 62.5%;
    z-index: 2;
    width: 230px;
    height: 230px;
}

.why:active {
    width: 235px;
    height: 235px;
    bottom: 67.7%;
    right: 62.45%;
    transition: 0.1s ease-in-out;
}

.why::not(:active) {
    transition: 0.1s ease-in-out;
}

.arrow__line01 {
    rotate: -60deg;
    position: absolute;
    top: 10%;
    z-index: 1;
}

.arrow__line02 {
    rotate: 60deg;
    position: absolute;
    top: 15%;
    right: 67%;
    z-index: 1;
}

.right {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    align-items: center;
}

.right__card{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    margin-left: -2rem;
}

.animation__container {
    width: 120px;
    position: absolute;
    top: 16%;
    right: 65.3%;
    z-index: 1;
    rotate: 90deg;
}

.animation__container02 {
    width: 120px;
    position: absolute;
    top: 16%;
    right: 62.5%;
    z-index: 1;
    rotate: 180deg;
}

.cloud01 {
    position: absolute;
    top: 1%;
    right: 61%;
    animation-name: float;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.cloud02 {
    position: absolute;
    top: 7%;
    left: 20.5%;
    animation-name: float;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.cloud03 {
    position: absolute;
    top: 13%;
    right: 65%;
    animation-name: float;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-fill-mode: both;
    z-index: 0;
}

@keyframes float {
    0% {transform: translate(0, 0);}
    50% {transform: translate(-5%, 5%);}
    100% {transform: translate(0, 0);}
}
