.contentContainer {
    display: flex;
    justify-content: space-between;
}

.plantContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.backButton {
    display: flex;
    align-items: flex-end;
    padding: 15px 20px;
}

.rightButtonCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
}