.btn {
    width: 25rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn__primary {
    background-color: #FED22B;
    width: 95%;
    height: 55%;
    border: 2px solid black;
    border-radius: 0.5rem;
    color:  black;
    font-size: 1rem;
    font-weight: 700;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__background {
    background-color: #FFA629;
    width: 95%;
    height: 55%;
    margin-top: -3.2rem;
    margin-right: -0.6rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    color:  black;
    font-size: 1rem;
    font-weight: 700;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.btn__primary:hover {
    margin-bottom: -0.35rem;
    margin-right: -0.6rem;
}
