
.main__container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.inner__contianer {
    display: flex;
    transition: transform 2s ease-in-out;
}

.btn__prev {
    position: absolute;
    top: 50%;
    left: 0;
}

.btn__next {
    position: absolute;
    top: 50%;
    right: 0;
}

.navigation {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
    position: absolute;
    bottom: 4%;
    right: 35%;
}
