
.main__container {
    height: 100vh;
    width: 100vw;
    background-image: url("/carousel/activities-background.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    z-index: -9999;
}

.img {
    object-fit: cover;
    height:100%;
    width: 100%;
}

.h1 {
    font-size: 2rem;
    margin-top: 1rem;
}

.content__container {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 6rem;
    margin-left: -6rem;
    margin-top: 1rem;
}

.quiz__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 24rem;
}

.city {
    margin-top: 1.3rem;
    margin-left: 25rem;
    z-index: 1;
}

.house {
    margin-top: 6.3rem;
    z-index: 1;
}

.bea {
    margin-left: 1rem;
    margin-top: -1rem;
    z-index: 1;
}

.arrow__line {
    rotate: 50deg;
    position: absolute;
    top: 45%;
    right: 19%;
    z-index: 1;
}

.animations {
    rotate: 90deg;
    margin-top: -17rem;
}

.animation__container {
    width: 120px;
    z-index: 0;
    rotate: 90deg;
}

.animation__container02 {
    width: 120px;
    z-index: 0;
    rotate: 180deg;
}

.cloud01 {
    position: absolute;
    top: 1%;
    right: 15%;
    animation-name: float;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.cloud02 {
    position: absolute;
    top: 1%;
    left: 72%;
    animation-name: float;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-fill-mode: both;
}

.cloud03 {
    position: absolute;
    top: 12%;
    right: 19%;
    animation-name: float;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 1.5s;
    animation-direction: alternate;
    animation-fill-mode: both;
    z-index: 0;
}

@keyframes float {
    0% {transform: translate(0, 0);}
    50% {transform: translate(-5%, 5%);}
    100% {transform: translate(0, 0);}
}
