.animatedCloudWrapper {
    opacity: 0;
    z-index: 0;
    position: absolute;
}

.animatedCloud {
    animation-name: cloudFloat;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-duration: 4s;
  }

  @keyframes cloudFloat {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5%);
    }
    100% {
      transform: translateY(0);
    }
}