.content__container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* height: 802px;
    width: 364px; */
}

.container__top {
    display: flex;
}

.container__bottom {
    display: flex;
    justify-content: space-around;
}

.desc__container {
    display: flex;
    flex-direction: column;
}

.socials__container {
    display: flex;
    gap: 1rem;
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}