.quizButton {
    width: 20rem;
    height: 8.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quizButtonPrimary {
    background-color: var(--primary-yellow);
    width: 10rem;
    height: 8.188rem;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-size: 1.125;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.quizButtonBackground {
    background-color: var(--secondary-yellow);
    width: 10rem;
    height: 8.188rem;
    margin-top: -7.9rem;
    margin-right: -0.6rem;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.quizButtonPrimary:hover {
    margin-bottom: -0.55rem;
    margin-right: -0.85rem;
}

.answerText {
    width: 90%;
    text-align: center;
}
