.quizButton {
    width: 20rem;
    height: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.quizButtonPrimary {
    background-color: var(--primary-yellow);
    width: 9rem;
    height: 9rem;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-size: 1;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.quizButtonBackground {
    background-color: var(--secondary-yellow);
    width: 9rem;
    height: 9rem;
    margin-top: -6.5rem;
    margin-right: -0.5rem;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.answerText {
    width: 90%;
    text-align: center;
}
