

.plantContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 1rem;
}

.contentContainer__2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    column-gap: 1rem;
}

.contentContainer__3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
}

.info__title {
    text-align: center;
}

.backButton {
    display: flex;
    align-items: flex-end;
    padding: 15px 20px;
}

.h2__content {
    font-size: 1.4rem;
}

.p__content {
    line-height: 2rem;
    padding-bottom: 0.5rem;
    font-size: 17px;
}

.rightButtonCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
}

.introContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
    padding: 15px 60px;
    margin-bottom: 1.8rem;
    width: 80%;
}

.plantingStart {
    background-color: var(--primary-yellow);
    position: relative;
    width: 22.375rem;
    height: 7.188rem;
    font-size: 1.125rem;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.plantingStartBackground {
    background-color: var(--secondary-yellow);
    position: relative;
    width: 22.375rem;
    height: 7.188rem;
    margin-top: -8.4rem;
    left: 4px;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color: black;
    font-weight: 700;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.innerContentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: flex-start;
    padding: 1.5rem 0rem 4rem 0rem;
}

.innerContentContainer__2 {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    align-items: flex-start;
    padding: 1.5rem 0rem 6rem 0rem;
}

.innerContentContainer__3 {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1.5rem 0rem 5.1rem 0rem;
}

.contentContainer__inner p {
    font-size: 20px;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.contentContainer__inner {
    font-display: flex;
    flex-direction: column;
}

.chocolate {
    rotate: 25deg;
}

.step1List {
    display: flex;
}

.contentColRight {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    position: relative;
    left: 25px;
}

.activitiesButton {
    background-color: var(--primary-yellow);
    position: relative;
    width: 14.375rem;
    height: 3.188rem;
    font-size: 1.125rem;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.activitiesButtonBackground{
    background-color: var(--secondary-yellow);
    position: relative;
    width: 14.375rem;
    height: 3.188rem;
    margin-top: -3.2rem;
    left: 3px;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color: black;
    font-weight: 700;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Pollination */
.btn {
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.content__container {
    font-display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.h2{
    padding-bottom: 0.5rem;
}

.btn__primary {
    background-color: var(--primary-yellow);
    width: 75%;
    height: 100%;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2rem 0rem;
}

.btn__background {
    background-color: var(--secondary-yellow);
    width: 75%;
    height: 100%;
    margin-top: -8.3rem;
    margin-right: -0.5rem;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 4.2rem 0rem;
}

.btn__primary:active {
    margin-bottom: -0.2rem;
    margin-right: -0.6rem;
    transition: 0.2s ease-in-out;
}

.btn__primary:not(:active) {
    transition: 0.2s ease-in-out;
}



/* Button Activities */
.btn__2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    margin-left: 2.5rem;
}

.h2__2 {
    font-size: 1rem;
}

.btn__primary__2 {
    background-color: var(--primary-yellow);
    width: 100%;
    height: 100%;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 2.5rem;
}

.btn__background__2 {
    background-color: var(--secondary-yellow);
    width: 100%;
    height: 100%;
    margin-top: -2.9rem;
    margin-right: -0.4rem;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 1.5rem 2.5rem;
}

.btn__primary__2:active {
    margin-bottom: -0.23rem;
    margin-right: -0.4rem;
    transition: 0.2s ease-in-out;
}

.btn__primary__2:not(:active) {
    transition: 0.2s ease-in-out;
}


