.content__container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/carousel/team-background.svg');
    background-size: cover;
}

.sizing__container {
    height: 323px;
    width: 723px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team__description {
    width: 475px;
}

.team__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
}

.member__container {
    height: 192px;
    width: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.member__hexagon {
    position: absolute;
    z-index: 0;
}

.hexagon__shadow {
    position: absolute;
    z-index: -1;
    top: 30px;
    left: 30px;
}

.hexagon__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    z-index: 1;
}

.textbubble__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.textbubble__content {
    display: grid;
    grid-template-columns: 7fr 1fr;
    justify-content: center;
}

/* .memberInfo__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
} */