.content__container {
    height: 323px;
    width: 723px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team__description {
    width: 475px;
}

.team__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.member__container {
    background-image: "";
}