.btn {
    width: 3.8rem;
    height: 4rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn__arrow {
    background-color: #FED22B;
    background-image: url('/buttons/arrow-right.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 52px;
    width: 95%;
    height: 95%;
    border: 2px solid black;
    border-radius: 2rem;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__background {
    background-color: #FFA629;
    width: 95%;
    height: 95%;
    margin-top: -3.5rem;
    margin-right: -0.5rem;
    border: 2px solid black;
    border-radius: 2rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__arrow:hover {
    margin-bottom: -0.5rem;
    margin-right: -0.5rem;
}
