.btn {
    width: 3.5rem;
    height: 3.5rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.btn__arrow {
    background-color: #FED22B;
    background-image: url('/buttons/arrow-right-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    width: 95%;
    height: 95%;
    border: 1px solid black;
    border-radius: 2rem;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__background {
    background-color: #FFA629;
    width: 95%;
    height: 95%;
    margin-top: -3.3rem;
    margin-right: -0.4rem;
    border: 1px solid black;
    border-radius: 2rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__arrow:active {
    margin-bottom: -0.2rem;
    margin-right: -0.4rem;
    transition: 0.2s ease-in-out;
}

.btn__arrow:not(:active) {
    transition: 0.2s ease-in-out;
}