.card {
    width: 25rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card__primary {
    background-color: var(--card-primary-blue);
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color: var(--text);
    font-size: 0.9rem;
    font-weight: 400;
    z-index: 1;
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
}

.card__background {
    background-color: var(--card-background-blue);
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color: var(--text);
    height: 41%;
    width: 73%;
    margin-top: -4.3rem;
    margin-right: -0.5rem;
    font-size: 0.9rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1.5rem;
    z-index: 0;
}

.card__primary:hover {
    margin-bottom: -0.3rem;
    margin-right: -0.5rem;
    transition: 0.2s ease-in-out;
}

.card__primary:not(:hover) {
    transition: 0.2s ease-in-out;
}