.quizContainer {
    display: flex;
    flex-direction: row;
}

.quizContent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 86%;
    height: 100%;
}

.quizButtonColLeft {
    width: 50px;
}

.quizButtonColRight {
    width: 50px;
    padding-top: 15px;
    padding-right: 20px;
}

.buttonCol {
    margin-left: 10px;
}

.outerContainer {
    display: flex;
}

.quizBackContainer {
    margin: 15px 20px;
}

.quizQuestionContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}

.quizQuestion {
    width: 92%;
}

.quizQuestion p {
    margin-bottom: 10px;
}

.quizQuestion h1 {
    font-size: 36px;
    width: 100%;
    margin-top: 15px;
}
  
.fadeOut {
    animation: fadeOut 0.5s forwards;
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.introContainer h1 {
    margin-top: 15px;
}

.introContainer h2 {
    width: 70%;
}

.introContainer h2, .introContainer p  {
    margin-bottom: 15px;
}

.introContainer p  {
    width: 80%;
}

.resultsInnerContainer {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    padding-left: 50px;
}

.resultsLeftCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.resultsRightCol {
    display: flex;
    align-items: flex-end;
}

.resultsPage {
    height: 88%;
}

.introButton {
    background-color: var(--primary-yellow);
    position: relative;
    width: 19.375rem;
    height: 3.188rem;
    font-size: 1.125rem;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.introButtonBackground {
    background-color: var(--secondary-yellow);
    position: relative;
    width: 19.375rem;
    height: 3.3rem;
    margin-top: -7.8rem;
    margin-top: -3.2rem;
    left: 4px;
    border: 1px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.introButton:hover {
    left: 6px;
    bottom: -8px;
}

.introButton p {
    margin-bottom: 0;
}

.titleRow {
    display: flex;
}

.innerRow {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.fillCol {
    width: 120px;
}

.resultsRightCol img {
    padding-top: 22px;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
  