.contentContainer {
    display: flex;
    justify-content: space-between;
}

.plantContainer {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.backButton {
    display: flex;
    align-items: flex-end;
    padding: 15px 20px;
}

.rightButtonCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 20px;
}

.introContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 20px;
}

.plantingStart {
    background-color: var(--primary-yellow);
    position: relative;
    width: 19.375rem;
    height: 3.188rem;
    font-size: 1.125rem;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color:  black;
    font-weight: 700;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.plantingStartBackground {
    background-color: var(--secondary-yellow);
    position: relative;
    width: 19.375rem;
    height: 3.188rem;
    margin-top: -3.8rem;
    left: 6px;
    border: 2px solid var(--text);
    border-radius: 0.5rem;
    color: black;
    font-weight: 700;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.innerContentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
    padding: 1.5rem 0rem 5.5rem 0rem;
}

.step1List {
    display: flex;
}

.contentContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 1rem;
}

.info__text {
    font-size: 20px;
    line-height: 2rem;
}

.info__title {
    text-align: center;
}
