.btn {
    width: 25rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn__primary {
    background-color: #FED22B;
    width: 95%;
    height: 50%;
    border: 2px solid black;
    border-radius: 0.5rem;
    color:  black;
    font-size: 1.5rem;
    font-weight: 700;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn__background {
    background-color: #FFA629;
    width: 95%;
    height: 50%;
    margin-top: -7.2rem;
    margin-right: -0.9rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    color:  black;
    font-size: 1rem;
    font-weight: 700;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.btn__primary:hover {
    margin-bottom: -0.55rem;
    margin-right: -0.85rem;
}
