.animatedBee {
    animation-name: float-2;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
}
  
.animatedBeeWrapper {
    opacity: 0;
    z-index: 0;
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
}

.main__beeboo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    margin-bottom: -5rem;
}

.main__beeboo h1{
    font-size: 3.5rem;
}
  
.main__beeboo h2{
    font-size: 1rem;
    font-weight: 600;
}

.animation__container {
    margin-bottom: -5rem;
    width: 30%;
    height: 30%;
}

@keyframes float-2 {
    0% {
    transform: translateY(0);
    }
    50% {
    transform: translateY(-10%);
    }
    100% {
    transform: translateY(0);
    }
}