:root {
   --background: #FFF7EE;
   --text: #3A3A3A;
   --primary: #F9DB6C;
   --secondary: #E56E42;
   --tertiary: #4C8C4A;
   --button-main: #FED22B;
   --button-back: #FFA629;
   --black: #000000;
}

body {
   font-family: 'Truculenta';
}

h1, h2, h3, h4, h5, h6, p {
   margin: 0;
}